.button-on {
  margin: 0.5em;
  background-color: lightgreen;
}

.button-off {
  margin: 0.5em;
  background-color: lightcoral;
}

.button-disabled {
  margin: 0.5em;
  background-color: lightgray;
}
